# jekyll
.jekyll-metadata
_site
.sass-cache
.jekyll-cache


# bundler
*.gem
Gemfile.lock


# python
*.whl


# npm
node_modules
package-lock.json


# _sass
_sass/@primer/css/**/*.md


# lighthouse
*.report.html


# action
action.changelog.md

# large file
Backups\Talks_and_Lectures\Workshops\Valse2021\*